* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-outfit: "Outfit", sans-serif;
  --main-bg-color: #d5e1ef;
  --card-bg-color: #ffffff;
  --text-color-primary: #1f314f;
  --text-color-secondary: #68778d;
  --box-shadow-color: rgba(0, 0, 0, 0.05);
}

body {
  font-family: var(--font-outfit);
  background: var(--main-bg-color);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: min(1.5rem);
  width: 100%;
}

.card {
  display: flex;
  width: 100%;
  max-width: 320px;
  padding: min(1rem) min(1rem) min(2.5rem) min(1rem);
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  border-radius: 20px;
  background: var(--card-bg-color);

  /* card-shadow */
  box-shadow: 0 1.5rem 1.5rem 0 var(--box-shadow-color);
}

.image-container {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 10px;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.text-container h1 {
  color: var(--text-color-primary);
  text-align: center;
  font-feature-settings: "liga" off, "clig" off;
  font-family: var(--font-outfit);
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 26.4px */
}

.text-container p {
  color: var(--text-color-secondary);
  text-align: center;
  font-feature-settings: "liga" off, "clig" off;
  font-family: var(--font-outfit);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 21px */
  letter-spacing: 0.2px;
}

.attribution {
  color: var(--text-color-primary);
  font-size: 11px;
  text-align: center;
  margin-inline-start: auto;
}

.attribution a {
  color: var(--text-color-secondary);
  text-decoration: none;
  font-family: var(--font-outfit);
}
